/* ForgotPassword.module.css */
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: black;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px rgb(0, 0, 0);
    flex: 1;
  }

  .title {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #333;
  }
  .subtitle {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: #666;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .fieldContainer {
    margin-bottom: 1rem;
  }
  
  .label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .error {
    color: red;
    font-size: 0.875rem;
  }
  .successMessage {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.1rem;
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  